<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Eamjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentSave</display-name>
    <servlet-name>StudentSave</servlet-name>
    <servlet-class>com.student.controller.StudentSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSave</servlet-name>
    <url-pattern>/StudentSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>com.student.controller.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ram</display-name>
    <servlet-name>ram</servlet-name>
    <servlet-class>com.student.controller.ram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ram</servlet-name>
    <url-pattern>/ram</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Done</display-name>
    <servlet-name>Done</servlet-name>
    <servlet-class>com.student.controller.ram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Done</servlet-name>
    <url-pattern>/Done</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>DeleteSt</display-name>
    <servlet-name>DeleteSt</servlet-name>
    <servlet-class>com.student.controller.DeleteSt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSt</servlet-name>
    <url-pattern>/DeleteSt</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>
</element>